<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= link_to 'New User', new_user_path, class: 'btn btn-info my-3', data: { bs_toggle: 'modal', bs_target: '#exampleModal', remote: true } %>
<table class="table table-striped">
  <thead class="bg-info">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Contact</th>
      <th><%= link_to 'New User', new_user_path, style: 'text-decoration:none;',data: { bs_toggle: 'modal', bs_target: '#exampleModal', remote: true }  %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.contact %></td>
        <td>
          <div class="btn-group dropdown">
            <button type="button" class="dots" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <div class=".3-dots"></div>
            <ul class="dropdown-menu">
              <li><%= link_to 'Show', user, class: 'dropdown-item' %></li>
              <li><%= link_to 'Edit', edit_user_path(user), class: 'dropdown-item' %></li>
              <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %></li>
            </ul>
          </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="userForm">

      </div>
    </div>
  </div>
</div>
<br>
<hr>



